<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitness.mapper.FitnessRecordMapper">

    <select id="selectPageWithMember" resultType="com.fitness.entity.FitnessRecord">
        SELECT fr.*, m.name as memberName
        FROM fitness_record fr
        LEFT JOIN member m ON fr.member_id = m.id
        <where>
            <if test="memberId != null">
                AND fr.member_id = #{memberId}
            </if>
        </where>
        ORDER BY fr.record_date DESC
    </select>

    <select id="selectRecentByMemberId" resultType="com.fitness.entity.FitnessRecord">
        SELECT * FROM fitness_record
        WHERE member_id = #{memberId}
        AND record_date >= DATE_SUB(CURDATE(), INTERVAL #{days} DAY)
        ORDER BY record_date ASC
    </select>

</mapper>
