<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitness.mapper.MemberMapper">

    <select id="selectPageWithUsername" resultType="com.fitness.entity.Member">
        SELECT m.*, u.username
        FROM member m
        LEFT JOIN sys_user u ON m.user_id = u.id
        <where>
            <if test="name != null and name != ''">
                AND m.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND m.phone LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="status != null">
                AND m.status = #{status}
            </if>
        </where>
        ORDER BY m.create_time DESC
    </select>

</mapper>
